<div class="ux-cards">
  <h1> WATCH:LIST Lets You...</h1>
  <div class="ux-cards__top d-flex">
    <div class="ux-card">
      <p>You will have this and this</p>
    </div>
    <div class="ux-card">
      <p>You will have this and this</p>
    </div>
  </div>
  <div class="ux-cards__bottom d-flex">
    <div class="ux-card">
      <p>You will have this and this</p>
    </div>
    <div class="ux-card">
      <p>You will have this and this</p>
    </div>
  </div>
</div>