<div class="ux-cards d-flex">
  <div class="ux-cards__top">
    <div class="ux-card">
      <p>You will have this and this</p>
    </div>
    <div class="ux-card">
      <p>You will have this and this</p>
    </div>
  </div>
  <div class="ux-cards__bottom">
    <div class="ux-card">
      <p>You will have this and this</p>
    </div>
    <div class="ux-card">
      <p>You will have this and this</p>
    </div>
  </div>
</div>