.ux-cards {
  display: table;
  margin: 50px auto;
  text-align: center;

  h1 {
    margin-bottom: 25px;
  }

  .ux-card {
    background-color: #99cc99;
    padding: 60px 120px;
    border-radius: 10px;
    &:first-child {
      margin-right: 25px;
    }
  }

  .ux-cards__top {
    margin-bottom: 25px;
  }

  .ux-cards__bottom {
    margin-left: 85px;
  }
}

.just-reviewed {
  div {
    padding: 17px;
  }

  ul {
    padding-left: 0;
  }

  li {
    height: 200px;
    align-items: center;
    background-color: #cccccc;
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    height: 68px;
  }
}

.list-card_small {
  margin-top: 3px;
  border: 1px solid;
  padding: 25px;
  p {
    margin: 0;
  }
}

.list-card_middle {
  margin-top: 3px;
  border: 1px solid;
  padding: 50px;
  p {
    margin: 0;
  }
}

.list-card_wide {
  margin-top: 3px;
  border: 1px solid;
  padding: 50px;
  text-align: right;
  p {
    margin: 0;
  }
}
