.ux-card {
  background-color: #99cc99;
  margin-right: 10px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;

  li {
    display: inline-block;
    padding: 0px 20px;
  }
}

.list-card_small {
  margin-top: 3px;
  border: 1px solid;
  padding: 25px;
  p {
    margin: 0;
  }
}
