.list-card_small {
  width: 355px;
  position: relative;
  margin-top: 3px;
  border: 1px solid;
  padding: 25px;
  height: 200px;
  margin-bottom: 25px;
  text-align: right;

  div {
    position: absolute;
    right: 30px;
    bottom: 31px;
  }

  p {
    margin: 0;
  }
}

.list-card_middle {
  div {
    padding: 17px;
  }

  ul {
    padding-left: 0;
  }

  li {
    height: 200px;
    align-items: center;
    background-color: #cccccc;
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    height: 68px;
  }
}

.list-card_wide {
  margin-top: 3px;
  border: 1px solid;
  padding: 50px;
  text-align: right;
  p {
    margin: 0;
  }
}

.list-info-card {
  border: 0 solid silver;
  border-width: 0 0 1px 1px;
  padding-left: 0;

  li {
    border: 0 solid silver;
    border-width: 1px 1px 0 0;
    padding: 0.5em;
  }
}

.list-bookmarks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 19px;
}
