.navbar-watchlist {
  justify-content: space-between;
  background: transparent;

  h3 {
    margin: 0;
  }
}

.navbar-watchlist .navbar-collapse {
  flex-grow: 0;
}

.navbar-watchlist.navbar-brand img {
  width: 40px;
}
